---
---

// Prettier link underlines (https://eager.io/blog/smarter-link-underlines/)
@mixin underline($color, $bgcolor) {
  text-shadow: .03em 0 $bgcolor, -.03em 0 $bgcolor, 0 .03em $bgcolor, 0 -.03em $bgcolor, .06em 0 $bgcolor, -.06em 0 $bgcolor, .09em 0 $bgcolor, -.09em 0 $bgcolor, .12em 0 $bgcolor, -.12em 0 $bgcolor, .15em 0 $bgcolor, -.15em 0 $bgcolor;
  background-image: linear-gradient($bgcolor, $bgcolor), linear-gradient($bgcolor, $bgcolor), linear-gradient($color, $color);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 90%;
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$color-black: #181818;
$color-white: #fff;
$color-cream: #f7f6f3;
$color-bg: $color-white;
$color-text: #333;
$color-link: #d40000;//#008cba;

$font-family-serif: 'Alegreya', serif; 
$font-family-sans-serif: 'Montserrat', sans-serif;

// Variables for gridlover
$base-font-size: 22px/16px + 0em;
$base-line-height: 1.5;
$scale: 1.618;

$container-max-width: 960px;

/* 
 * Global Typography 
 */
@import "gridlover";
@include gridlover-typography();

body {
  background-color: $color-bg;
  color: $color-text;
}

/* Font family */
body {
  font-family: $font-family-serif;
}                    

.header,
.button,
.pull-left {
  font-family: $font-family-sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Links */
a, a:visited {
 text-decoration: none;
 color: $color-link;
}

.no-touch a:hover {
  color: $color-text;
  text-decoration: underline;
  &.no-underline {
    text-decoration: none;
  }
  &:not(.no-underline) {
    text-decoration: none;
    @include underline($color-text, $color-bg);
  }
}

h1, h2, h3, h4, h5 {
  a, a:visited {
    color: inherit;
  }
}

a.button { 
  display: inline-block;
  background: $color-text;
  color: $color-white;
  font-size: $size-s;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  padding: $size-xs $size-s;
  border: 1px solid;
  
  .no-touch &:hover {
    color: $color-text;
    background: transparent;
    text-decoration: none;
  }
}

a.icon-link {
  font-size: 1em;
  svg {
    width: 1em;
    height: 1em;
  }
}

/* Lists */
ul {
  
  &.no-bullets {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  &.inline {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
    li {
      display: inline-block;
      padding: 0 $size-s;
    }
  }

  &.bullet-separator {
    li {
      padding-left: 0;
      padding-right: 0;
    }
    li:before {
      content: '•';
      display: inline-block;
      padding: 0 $size-m;
    }
    li:first-child {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
}

/* Other */
abbr[title] {
  border-bottom: none;
}

p, ul, ol, blockquote {
  max-width: 30em;
}

/*
 *  Global Layout
 */

html, body {
  height: 100%; // for fullscreen height
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $size-l;
}

.container, 
.header, 
.section, 
.footer {
  position: relative;
}

.fullscreen {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
}

.middle {
  display:table-cell;
  vertical-align: middle;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header, 
.footer {
  background-color: $color-black;
  color: $color-white;
  text-shadow: rgba(0,0,0,0.9) 1px 1px 5px;
  
  a, 
  a:visited, 
  a:hover {
    color: $color-white;
    
    strong {
      color: $color-link;
    }
  }
  
  .container {
    max-width: none;
  }
}

.header {
  text-transform: uppercase;
  box-sizing: border-box;
  border-style: solid;
  border-color: $color-bg;
  border-width: 0 $size-l;
  
  &.fullscreen {
    border-right: 0;
  }
  
  &.fullscreen:before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-black url(../img/vela-bg-lightroom.jpg) no-repeat center top;
    background-size: cover;
    opacity: 0.8;
  }

  .section {
    background-color: $color-bg;
    color: $color-text;
    text-shadow: none;
    padding: $size-xs 0;
    margin: 0;
    ul {
      font-size: $size-s;
      text-align: center;
    }
  }
}

.top-bar {
  background: $color-bg;
  color: $color-text;
  text-shadow: none;
  padding: $size-m 0;
  border-bottom: 1px solid;
  overflow: hidden;

  a, a:visited, a:hover {
    color: inherit;
  }

  .container {
    padding-left: 0;
  }
  
  .fullscreen & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.masthead {
  
  h1 { 
    display: none;
  }

  h5 {
    float: right;
    text-align: right;
    font-size: $size-s;
    margin: 0;
    
    small {
      font-size: 1em;
      line-height: $size-l;
      display: none;

      &:before {
        content: "• ";
      }
    }
    
    a {
      display: inline-block;
    }
  }

  .fullscreen & {

    h1 {
      display: block;
      float: left;
      clear: left;
      margin: 0;
    }
    
    h5 {
      float: left;
      text-align: left;
      margin-bottom: $size-s;
      
      small {
        display: inline-block;
      }
    }
  }
}  

.nav {
  float: right;
  clear: right;
  text-align: right;
  overflow: hidden;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    display: inline-block; 
    font-size: $size-s;
  }
}

#navigation {
  transition: height 150ms ease-in;
  height: 0;

  &:target,
  &.active {
    height: 8em;
  }
  
  .fullscreen & {
    height: auto;
  }
}

#nav-button {
  position: absolute;
  font-size: 1em;
  top: -$size-xs;
  right: 0;
  
  .fullscreen & {
    display: none;
  }
}

.breadcrumb {
  a, 
  span {
    font-size: $size-s;
    float: left;
    margin-right: $size-xs;
  }
  span {
    opacity:0.4;
  }
}

.section {
  margin: $size-2xl 0;
}

.main {
  width: 50%;
  margin: $size-2xl 10% $size-2xl auto;

  &.narrow {
    width: 33%;
    padding-right: $size-2xl + $size-l;
    .section {
      padding-left: $size-m;
    }
  }
  
  .section {
    border-left: 1px solid;
    margin: 0;
    padding-top: $size-2xl;
    padding-left: $size-l;
    &:first-child {
      padding-top: 0;
    }
  }
  
  p, 
  ul,
  ol,
  dl {
    margin-top: 0;
  }
  
  li {
    margin-bottom: $size-l;
  }
  
  h2 {
    @include vertical-rhythm(1em / $base-font-size * 1em);
    text-transform: uppercase;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  small {
    font-size: 1em / $base-font-size * 1em;
  }
  
  .buttons {
    text-align: right;
    margin: 0;
  }
  
  .pull-left {
    position: absolute;
    width: 15em;
    left: -15em - $size-m;
    direction: rtl;
    > h2 {
      margin-top: 0;
      width: 0; // force each word on a new line
    }
  }
  
  // Drop cap
  .article p:first-child:first-letter {
    float: left;
    font-size: $size-3xl;
    line-height: 1;
    text-indent: 0;
    margin-right: 0.1em;
    background: $color-black;
    color: $color-white;
    padding: 0 0.1em;
  }
}

  
.footer {
  overflow: hidden;
  padding-bottom: $size-m;
  small {
    font-size: $size-s;
    opacity: 0.8;
    float: left;
    margin-left: $size-xs;
  }
  small:first-child {
    margin-left: 0;
  }
  small:last-child {
    float: right;
  };
}

.gridlover-grid {
  @include gridlover-grid();
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
