---
---
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$color-black: #000;
$color-white: #fff;
$color-cream: #f7f6f3;
$color-bg: $color-cream;
$color-text: #181820;
$color-link: #008cba;

$font-family-serif: 'Alegreya', serif; 
$font-family-sans-serif: 'montserrat', sans-serif;

// Variables for gridlover
// http://modularscale.com/scale/?px1=16&px2=&ra1=1.618&ra2=0
$base-font-size: 22px/16px + 0em;
$base-line-height: 1.414;
$scale: 1.618;

$container-max-width: 960px;

/* 
 * Global Typography 
 */
@import "gridlover";
@include gridlover-typography();

/* Font family */
body {
  font-family: $font-family-serif;
}                    

.top-bar,
.button {
  font-family: $font-family-sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  letter-spacing: -2px;
  small {
    display: block;
    font-size: $size-2xs;
    line-height: $size-xl;
    letter-spacing: 0;
  }
}

h3 {
  letter-spacing: -1px;
}

/* Links */
a, a:visited {
 text-decoration: none;
 color: $color-link;
}

a {
  h1, h2, h3, h4, h5 {
    color: $color-text;
  }
}

.no-touch a:hover {
  color: $color-black;
}

.button { 
  color: inherit;
  font-size: 1em / $base-font-size * 1em; // 16px
  font-weight: normal;
  display: inline-block;
  border: 1px solid;
  padding: $size-xs $size-m;
  
  .no-touch &:hover,
  .no-touch &:active {
    background-color: $color-text;
    color: $color-white 
  } 
}

/* Lists */
ul {
  
  h4 {
     margin-bottom: 0;
  }
  
  p {
     margin-top: 0;
  }

  &.no-bullets {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  &.inline {
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      display: inline-block;
      padding: 0 $size-s;
    }
  }

  &.bullet-separator {
    li {
      padding-left: 0;
      padding-right: 0;
    }
    li:before {
      content: '•';
      display: inline-block;
      padding: 0 $size-m;
    }
    li:first-child {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
}

/*
 *  Global Layout
 */

html, body {
  height: 100%; // for fullscreen height
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $size-l;
}

.container, 
.header, 
.section, 
.footer {
  position: relative;
}

.fullscreen {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
}

.middle {
  display:table-cell;
  vertical-align: middle;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header,
.footer {
  background-color: $color-black;
  color: $color-white;
  text-shadow: rgba(0,0,0,0.9) 1px 1px 5px;
  
  a, a:visited {
    color: $color-white;
    
    strong {
      color: $color-link;
    }
    
    .no-touch &:hover {
      color: $color-link;      
    }
  }
  
  .container {
    max-width: none;
  }
}

.header {
  box-sizing: border-box;
  border-right: $size-l solid $color-white;
  
  &:before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black url(../img/vela-bg.jpg) no-repeat center top;
    background-size: cover;
    opacity: 0.5;
  }

  .bottom {
    background-color: $color-black;
    font-size: 1em / $base-font-size * 1em; // 16px
    text-transform: uppercase;
    text-align: center;
    padding: $size-s 0;
    margin: $size-xl 0 0;
  }
}

.masthead {
  h1 {
    font-family: "league gothic";
    text-transform: uppercase;
    font-size: $size-3xl;
    letter-spacing: -4px;
    margin: 0;
    padding: 0;
    .char-i {
      margin-left: 4px;
      margin-right: 0px;
    }
    .char-a {
      margin-left: -6px;
      margin-right: -1px;
    }
    .char-dot {
      margin-left: 1px;
      margin-right: -2px;
    }
  }
  
//  h1 {
//    font-family: "univers ultracondensed";
//    letter-spacing: -1px;
//    .char-a {
//      margin-left: -12px;
//      margin-right: -2px;
//    }
//  }
//
  h5 {
    font-size: $size-s;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: $size-m;
    small {
      font-size: 1em;
    }
    small:before {
      content: "—";
    };
  }
}  

.top-bar {
  background: $color-white;
  color: $color-text;
  text-shadow: none;
  z-index: 1;
  padding: 1em 0 $size-2xs;
  
  a, a:visited {
    color: inherit;
  }
  
  ul {
    position: absolute;
    bottom: $size-xs;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    border-right: $size-m solid;
    padding-right: $size-m;
    
    a {
      display: block; 
      font-size: $size-s;
      line-height: $size-xl;
      text-transform: uppercase;
    }
  }
}

.section {
  margin: $size-2xl 0;
}

.main {
  max-width: 35em;
  margin-left: auto;
  border-left: $size-xs solid;
  p, ul {
    max-width: 30em;
  }
  h2 {
    font-family: "league gothic";
    text-transform: uppercase;
    width: 5em;
    text-align: right;
    position:absolute;
    left: 0;
    left: -5em - $size-s;
    top: 0;
    margin: 0;
  }
  h4 {
    font-family: "montserrat";
  }
}

.footer {
  overflow: hidden;
  padding-bottom: $size-m;
  small {
    font-size: 14px;
    opacity: 0.8;
    float: left;
    margin-left: $size-xs;
  }
  small:first-child {
    margin-left: 0;
  }
  small:last-child {
    float: right;
  };
}

@include gridlover-grid();


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
