---
---

// Prettier link underlines (https://eager.io/blog/smarter-link-underlines/)
@mixin underline($color, $bgcolor) {
  text-shadow: .03em 0 $bgcolor, -.03em 0 $bgcolor, 0 .03em $bgcolor, 0 -.03em $bgcolor, .06em 0 $bgcolor, -.06em 0 $bgcolor, .09em 0 $bgcolor, -.09em 0 $bgcolor, .12em 0 $bgcolor, -.12em 0 $bgcolor, .15em 0 $bgcolor, -.15em 0 $bgcolor;
  background-image: linear-gradient($bgcolor, $bgcolor), linear-gradient($bgcolor, $bgcolor), linear-gradient($color, $color);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 90%;
}

@mixin font-face($font-family, $font-filename, $font-style, $font-weight) {
  @font-face {
    font-family: $font-family;
    src: url('../fonts/#{$font-filename}.ttf')  format('truetype');
    font-style: $font-style;
    font-weight: $font-weight;
  }
}

@include font-face('alegreya-web', 'Alegreya_regular', normal, normal);
@include font-face('alegreya-web', 'Alegreya_italic', italic, normal);
@include font-face('alegreya-web', 'Alegreya_700', normal, bold);
@include font-face('montserrat-web', 'Montserrat_regular', normal, normal);
@include font-face('tenso-web', 'Tenso_regular', normal, normal);
@include font-face('dropcap', 'dropcap', normal, normal);


/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
$color-black: #181818;
$color-white: #fff;
$color-bg: $color-white;
$color-text: #333;
$color-link: #d40000;

$font-family-serif: 'alegreya-web', serif; 
$font-family-sans-serif: 'montserrat-web', sans-serif;
$font-family-condensed: 'tenso-web', sans-serif;
$font-family-dropcap: 'dropcap', 'montserrat-web', sans-serif;

$base-font-size-serif: 20px/16px + 0em;
$base-font-size-sans-serif: 1em / $base-font-size-serif + 0em; // 16px

$container-max-width: 50em; // 1000px (same as body max-width in http://practicaltypography.com/)

// Variables for gridlover
// Modular scale http://modularscale.com/scale/?px1=20&px2=14&ra1=1.618&ra2=0
$base-font-size: $base-font-size-serif;
$base-line-height: 1.333;
$scale: 1.618;

$size-3xl: 6.853em;
$size-2xl: 4.797em;
$size-s: 0.7em;    // 14px
$size-xs: 0.618em; // 12.361px

$font-size-h1: 3em; // Should be 2.618em according to the scale, but copying the headline sizes from http://dragone.com/
$font-size-h2: 1.618em;
$font-size-h3: 1.133em;
$font-size-h4: $base-font-size-sans-serif * 1.133 + 0em;
$font-size-h5: $base-font-size-sans-serif;
$font-size-h6: $size-s;

/* 
 * Global Typography 
 */
@import "gridlover";
@include gridlover-typography();

body {
  background-color: $color-bg;
  color: $color-text;
  text-rendering: optimizeLegibility;
}

/* Font family */
body {
  font-family: $font-family-serif;
}                    

h4,
h5, 
h6,
label,
.content h2,
.content h3,
.header,
.button,
.meta {
  font-family: $font-family-sans-serif;
}

.condensed {
  font-family: $font-family-condensed;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  
  small {
    display: block;
    font-weight: normal;
    line-height: $base-line-height;
    letter-spacing: normal;
  }
}

// Based on headline sizes from http://dragone.com/en
// h1 (60px/62px) h1 small (30px/45px)
// Unfortunatelly, dragone measures don't work very well when the lines wrap
// so adjusting measure manually based on grid
h1 {
  letter-spacing: -0.01em;
  line-height: 1.03333;
  small {
    font-size: 0.5em;
    font-style: italic;
    line-height: 1.5;
    padding: 0.3em 0;
  }
}

h2 {
  line-height: 1.25em;
}

h3 {
  small {
    line-height: 1.57;
  }
}

h4, h5, h6 {
  text-transform: uppercase;
}

/* Links */
a, a:visited {
 text-decoration: none;
 color: $color-link;
}

.no-touch a:hover {
  color: $color-text;
  text-decoration: underline;
  &.no-underline {
    text-decoration: none;
  }
  &:not(.no-underline) {
    text-decoration: none;
    @include underline($color-text, $color-bg);
  }
}

h1, h2, h3, h4, h5, h6 {
  a, a:visited {
    color: inherit;

    span:after {
      content: " ›";
      color: $color-link;
    }
    
    .no-touch &:hover span:after {
      color: $color-text;
    }
  }
}

.button,
a.button { 
  display: inline-block;
  @include vertical-rhythm($size-xs);
  font-weight: normal;
  text-transform: uppercase;
  background: $color-text;
  color: $color-white;
  padding: 0 $size-s;
  border: 1px solid;
  position: relative;
  top: -2px;
  
  .no-touch &:hover {
    color: $color-text;
    background: transparent;
    text-decoration: none;
  }
}

a.icon-link {
  @include vertical-rhythm(1em);
  svg {
    width: 1em;
    height: 1em;
  }
}

.links {
  a[href^='http']:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin-left: $size-3xs;
    background: url(../img/icon-external-link.svg) no-repeat;
  }
}

/* Lists */
ul {

  &.no-bullets {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  &.inline {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
    li {
      display: inline-block;
      padding: 0 $size-s;
    }
  }

  &.bullets {
    li {
      padding-left: 0;
      padding-right: 0;
    }
    li:before {
      content: '•';
      display: inline-block;
      padding: 0 1em;
    }
    li:first-child {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
}

dl dd {
  margin: 0;
}

/* Paragraphs */

p.dropcap,
.dropcap > p:first-child {
  
  &:first-letter {
    float: left;
    font-size: $size-3xl;
    line-height: 1.166;
    text-indent: 0;
    margin-right: $size-4xs;
    padding: 0 $size-4xs;
    background: $color-black;
    color: $color-white;
    font-family: $font-family-dropcap;
    font-variant: normal;
    font-weight: normal;
    text-transform: uppercase;
  }
}

/* Blockquotes */
blockquote {
  margin: 3.6em $size-l;
  position: relative;
  &:before {
    content: "“";
    font-size: $size-2xl;
    font-style: normal;
    line-height: 0;
    opacity: 0.9;
    position: absolute;
    left: -0.4em;
    top: 0.3em;
  }
  p {
    font-size: $font-size-h3;
    font-style: italic;
    margin-bottom: 1em;
  }
  p:last-child {
    font-size: $font-size-h5;
    font-style: normal;
    text-align: right;
    em {
      font-style: normal;
      text-transform: uppercase;
    }
    &:before {
      content: "—";
    }
  }
}

/* Forms */
form {
  margin: $size-xl auto;
  label {
    @include vertical-rhythm($size-s);
    display: block;
    text-transform: uppercase;
  }
  input, textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid $color-text;
  }
  .button {
    padding: 0 $size-l;
  }
}

/* Other */
abbr[title] {
  border-bottom: none;
}


/*
 *  Global Layout
 */

html, body {
  height: 100%; // for fullscreen height
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $size-l;
}

.container,
.body,
.header, 
.footer {
  position: relative;
}

.fullscreen {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
}

.middle {
  display:table-cell;
  vertical-align: middle;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header,
.footer {
  .container {
    max-width: none;
  }
}

.footer {
  background-color: $color-black;
  color: $color-white;
  text-shadow: rgba(0,0,0,0.9) 1px 1px 5px;
  
  a, 
  a:visited, 
  a:hover {
    color: $color-white;
    
    strong {
      color: $color-link;
    }
  }
}

.header {
  text-transform: uppercase;
  background: $color-bg;
  
  &.fullscreen {
    border-right: 0;
  }
  
  &.fullscreen:before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: $size-l;
    right: 0;
    height: 100%;
    background: url(../img/vela-bg-lightroom.jpg) no-repeat center top;
    background-size: cover;
  }

  .section {
    background-color: $color-bg;
    color: $color-text;
    text-shadow: none;
    margin: 0;
    padding: $size-xs 0;
    text-align: center;
    ul {
      @include vertical-rhythm($size-s);
    }
  }
}

.top-bar {
  background: $color-bg;
  color: $color-text;
  text-shadow: none;
  padding: 1em 0;
  border-bottom: 1px solid;
  overflow: hidden;

  a, a:visited, a:hover {
    color: inherit;
  }

  .container {
    padding-right: 3em;
  }
  
  .fullscreen & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 0;
    
    .container {
      padding-right: $size-l;
    }
  }
}

.masthead {
  
  h1 { 
    display: none;
  }

  h6 {
    float: right;
    text-align: right;
    margin: 0;
    
    span {
      display: none;

      &:before {
        content: "• ";
      }
    }
    
    a {
      display: inline-block;
    }
  }

  .fullscreen & {

    h1 {
      display: block;
      float: left;
      clear: left;
      margin: 0;
    }
    
    h6 {
      float: left;
      text-align: left;
      margin-bottom: $size-s;
      
      span {
        display: inline-block;
      }
    }
  }
}  

.nav {
  float: right;
  clear: right;
  text-align: right;
  overflow: hidden;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    display: inline-block;
    font-size: $size-s;
    line-height: 1;
    padding: $size-s 0;
  }
}

#navigation {
  transition: height 150ms ease-in;
  height: 0;

  &:target,
  &.active {
    padding-top: $size-s;
    height: 7em;
  }
  
  .fullscreen & {
    height: auto;
  }
}

#nav-button {
  font-size: 1em;
  position: absolute;
  top: -$size-s;
  right: 1em;
  
  .fullscreen & {
    display: none;
  }
}

.breadcrumb {
  @include vertical-rhythm($size-s);
  span {
    opacity: 0.4;
  }
}

.meta, 
.content {
  h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }
  h2 {
    @include vertical-rhythm($font-size-h4, true, 2);
  }
  h3 {
    @include vertical-rhythm($font-size-h5, true);
    text-transform: uppercase;
  }
}

.meta {
  p, ul, ol, dl {
    @include vertical-rhythm($size-s, true);
  }
}

.main {
  margin: 0 0 $size-2xl;
  overflow: hidden;
  
  h1, h2, h3, h4, h5, h6 {
    a {
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }
    small {
      -webkit-font-smoothing: auto;
      font-smoothing: auto;
    }
  }
  p, ul, ol, blockquote {
    margin-top: 0;
  }
  
  li {
    margin-bottom: $base-line-height * 1em;
    
    h1,h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

// Margins inspired by the layout of http://practicaltypography.com/
.body {
  display: block;
  margin: 3.6em 3em 3em 13.8em;
  border-left: 1px solid;
  padding-left: $size-l;

  &.narrow {
    margin-left: 22em;
  }
  
  .pull-left {
    position: relative;
    float: left;
    width: 12em;
    margin-left: -12em;
    left: -$size-l * 2;
    text-align: right;
    
    * {
      margin-top: 0;
    }
    
    img {
      display: inline-block;
      width: 12em - $size-l;
      margin-bottom: $base-line-height + 0em;
    }
    
    h1, h2, h3, h4, h6, h6 {
      margin-right: (-$size-l + 1);
    }
    
    &.bottom {
      position: absolute;
      bottom: 0;
      left: -$size-l;
      * {
        margin-bottom: 0;
      }
    }
  }
  
  .rtl {
    direction: rtl;
  }

  .wbr {
    width: 0;
  }
  
  .section {
    margin: ($base-line-height * 2em) 0;
  }
  
  .buttons {
    float: right;
    margin: 0;
  }
}  

.footer {
  overflow: hidden;
  padding-bottom: $size-l;
  
  small {
    font-size: $size-s;
    opacity: 0.8;
    float: left;
    margin-left: $size-xs;
  }
  
  small:first-child {
    margin-left: 0;
  }
  
  small:last-child {
    float: right;
  };
}


.gridlover-grid {
  @include gridlover-grid();
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 60em) {
  .body,
  .body.narrow {
    margin-left: 10em;

    .pull-left {
      width: 8em;
      margin-left: -8em;
      
      img {
        width: 100%;
      }
    }
  }
  body.contact .main {
    margin-top: 2em;
    margin-bottom: 6em;
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
