---
layout: default
overview: true
---

<section class="section">
  <div class="container">
    <h2>Music Phenomenology, Intensive Listening, Music and Neuroscience, Contemporary Music</h2>
  </div>
</section>

<section class="section courses">
  <div class="container">
    <h3>Upcoming Courses</h3>
    <ul class="courses">
      {% for post in site.categories.courses %}
        <li>
          <h4><a href="#">{{post.title}}</a></h4>
          <p>{{post.location}}, {{post.date}}</p>
        </li>
      {% endfor %}
    </ul>
    <a href="/courses" class="button">All courses</a>
  </div>
</section>

<section class="section publications">
  <div class="container">
    <h3>Latest publications</h3>
    <ul class="publications">
      {% for post in site.categories.publications %}
        <li>
          <h4><a href="#">{{post.title}}</a></h4>
          <p>{{post.publication}}, {{post.date}}</p>
        </li>
      {% endfor %}
    </ul>
    <a href="/publications" class="button">All publications</a>
  </div>
</section>