---
layout: default
title: Publications
---

<div class="body">
  <div class="section books">
    <div class="pull-left meta">
      <h2>Books</h2>
    </div>
    <ul class="no-bullets">
    {% for book in site.books | sort: 'date', 'last' %}
      <li>
        <h3>
          <a href="{{book.url}}">
            <span>{{ book.full_title | default: book.title }}</span>
            {% if book.bib %}
            <small>
              {{ book.bib | markdownify | strip_p }}
            </small>
            {% endif %}
          </a>
        </h3>
        {% if book.links %}
        <div class="links meta">
          {{ book.links | markdownify }}
        </div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>

  <div class="section articles">
    <div class="pull-left meta">
      <h2>Articles</h2>
    </div>
    <ul class="no-bullets">
      {% for article in site.articles | sort: 'title' %}
        <li>
          <h3>
            <a href="{{article.url}}">
              <span>{{article.full_title | default: article.title }}</span>
              {% if article.bib %}
              <small>
                {{ article.bib | markdownify | strip_p }}
              </small>
              {% endif %}
            </a>
          </h3>
          {% if article.links %}
          <div class="links meta">
            {% for link in article.links %}
            <p><a href="{{link.url}}">{{link.label}}</a></p>
            {% endfor %}
            {% for doc in article.docs %}
            <p><a href="{{doc.url}}">{{doc.label}}</a></p>
            {% endfor %}
            
          </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>