---
name: admin
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Timespace CMS</title>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/main.css" />
  
  {% if site.cms == "local" %}
  <link rel="stylesheet" href="//localhost:4200/assets/cms.css" />
  {% else %}
  <link rel="stylesheet" href="//ember-cms.netlify.com/assets/cms.css" />
  {% endif %}
  <link rel="stylesheet" href="/admin/css/admin.css" />

   <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <base href="/admin/">
</head>
<body>
  <!-- SVG Definitions
       XML namespace is removed to prevent IE8 from choking on the tag 
       (http://stuntbox.com/blog/2013/06/bulletproof-inline-svg/)
  -->
  <svg display="none">
    <defs>
      <symbol id="icon-nav" viewBox="0 0 32 32">
        <title>nav</title>
        <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4 c-1.104,0-2,0.896-2,2c0,1.104,0.896,2,2,2h24c1.104,0,2-0.896,2-2C30,14.896,29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2 s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,22,28,22z"/>
      </symbol>
    </defs>
  </svg>

  {% raw %}
  <script type="text/x-handlebars" data-template-name='cms/application'>
  <div class="header">
    <div class="top-bar">
      <div class="container">
        
        <div class="masthead">
          <h6>
            <a href="/about" target="_self">Erik Christensen <span>Musicologist, Educator &amp; Researcher</span></a>
          </h6>
        </div>
        
        <div class="breadcrumb">
          <a href="/" target="_self">Timespace</a>
          {{#link-to 'home'}}/ Admin{{/link-to}}
          <span> / {{ currentAction }} </span>
        </div>

        <div class="nav">
          <a id="nav-button" class="icon-link no-underline" href="#navigation">
            <svg class="icon-nav">
              <use xlink:href="#icon-nav"></use>
              <foreignObject>
                <span class="svg-fallback icon-nav">Menu</span>
              </foreignObject>
            </svg>
          </a>
          <ul id="navigation">
          
            <li>{{#link-to 'logout'}}Logout{{/link-to}}</li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>

  <div class="main">
    {{outlet}}
  </div>
  </script>
  {% endraw %}

  {% if site.cms == "local" %}
  <script src="//localhost:4200/assets/vendor.js"></script>
  <script src="//localhost:4200/assets/cms.js"></script>
  {% else %}
  <script src="//ember-cms.netlify.com/assets/vendor.js"></script>
  <script src="//ember-cms.netlify.com/assets/cms.js"></script>
  {% endif %}
</body>
</html>