---
name: Admin
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Timespace CMS</title>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/admin/css/admin.css" />

  <base href="/admin/">
</head>
<body ng-app="cmsApp">
  <!-- SVG Definitions
       XML namespace is removed to prevent IE8 from choking on the tag 
       (http://stuntbox.com/blog/2013/06/bulletproof-inline-svg/)
  -->
  <svg display="none">
    <defs>
      <symbol id="icon-nav" viewBox="0 0 32 32">
        <title>nav</title>
        <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4 c-1.104,0-2,0.896-2,2c0,1.104,0.896,2,2,2h24c1.104,0,2-0.896,2-2C30,14.896,29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2 s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,22,28,22z"/>
      </symbol>
    </defs>
  </svg>


  <div class="header {% if page.home %}fullscreen{% endif %}">
      <div class="top-bar">
        <div class="container">
          
          <div class="masthead">
            <h6>
              <a href="/about" target="_self">Erik Christensen <span>Musicologist, Educator &amp; Researcher</span></a>
            </h6>
          </div>
          
          <div class="breadcrumb">
            <a href="/" target="_self">Timespace</a>
            <a ng-href="/admin/">/ Admin</a>
            {% raw %}
            <span ng-if="action"> / {{ action }} </span>
            {% endraw %}
          </div>

          <div class="nav">
            <a id="nav-button" class="icon-link no-underline" href="#navigation">
              <svg class="icon-nav">
                <use xlink:href="#icon-nav"></use>
                <foreignObject>
                  <span class="svg-fallback icon-nav">Menu</span>
                </foreignObject>
              </svg>
            </a>
            <ul id="navigation">
              <li><a ng-href="/admin/logout">Logout</a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  <div ng-view=""></div>

  <!-- Netlify CMS -->
  <!-- Run locally
  <script>window.NETLIFY_CFG = {api_base: "http://api.netlify.lo/api/v1/"}</script>
  <script src="http://localhost:9999/cms.js"></script>
  -->
  <script src="//cms.netlify.com/cms.js"></script> 
   
  <!-- Site specific directives -->
  <script src="/admin/js/directives/links.js"></script>
</body>
</html>