---
layout: default
name: About
---

<div class="article">
  <div class="body">
    <div class="meta pull-left bottom">
      <dl>
        <dt class="visuallyhidden">Contact</dt>
        <dd>
          Erik Christensen<br>
          Mosekrogen 23<br>
          2860 Søborg<br>
          Denmark
        </dd>
        <dd><a href="tel:+4539564221">(+45) 3956 4221</a></dd>
        <dd><a href="mailto:erc@timespace.dk">erc@timespace.dk</a></dd>
      </dl>
    </div>
    <div class="dropcap"> 
    {{ content }}
    </div>
  </div>
</div>
