---
layout: default
name: Contact
---

<div class="body">
  <div class="content dropcap">
    {{ content }}
  </div>  
  <div class="meta">
    <dl>
      <dt class="visuallyhidden">Address</dt>
      <dd>
        Erik Christensen<br>
        Mosekrogen 23<br>
        2860 Søborg<br>
        Denmark
      </dd>
      <dt class="visuallyhidden">Tel</dt>
      <dd><a href="tel:+4539564221">(+45) 3956 4221</a></dd>
      <dt class="visuallyhidden">Email</dt>
      <dd><a href="mailto:erc@timespace.dk">erc@timespace.dk</a></dd>
    </dl>
  </div>
</div>