---
layout: default
name: Contact
---

<div class="body narrow">
  <div class="content dropcap">
    {{ content }}
  </div>
  <div class="meta pull-left top">
    <dl>
      <dt class="visuallyhidden">Address</dt>
      <dd>
        Erik Christensen<br>
        Mosekrogen 23<br>
        2860 Søborg<br>
        Denmark
      </dd>
      <dt class="visuallyhidden">Tel</dt>
      <dd><a href="tel:+4539564221">(+45) 3956 4221</a></dd>
      <dt class="visuallyhidden">Email</dt>
      <dd><a href="mailto:erc@timespace.dk">erc@timespace.dk</a></dd>
    </dl>
  </div>
  <form>
    <p>
      <label>Your Name</label>
      <input type="text" name="name" required>
    </p>
    <p>
      <label>Your Email</label>
      <input type="email" name="email" required>
    </p>
    <p>
      <label>Your Message</label>
      <textarea name="message" rows="10" required></textarea>
    </p>
    <button class="button" type="submit">Send</button>
  </form>
</div>