---
layout: default
name: Courses
---

<div class="article">
  <h1>{{ page.title }}{% if page.subtitle %} <small>{{page.subtitle}}</small>{% endif %}</h1>
  <div class="body">
    <div class="pull-left meta">
      {{page.info | markdownify}}

      {% if page.links %}
        <div class="links">
          {% for link in page.links %}
          <p><a href="{{link.url}}">{{link.label}}</a></p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="content">
      {{ content }}
    </div>
  </div>
</div>
