<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>timespace.dk – Erik Christensen</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/vendor/modernizr.custom.min.js"></script>
  </head>
  <body class="{% if page.name == 'index.html' %}home{% endif %}">
    
    
    {{content}}
    
    <div class="footer">
      <div class="container">
        <p>
          <small>
          &copy; Erik Christensen 2014. All rights reserved.
          </small>
          <small>
            Cover photo &copy; <a href="http://www.davidmalin.com/" target="_blank">Australian Astronomical Observatory/David Malin</a>.
          </small>
          
        </p>
      </div>
    </div>

    <script src="/js/jquery.js"></script>
  </body>
</html>