---
layout: default
name: Publications
---

<div class="article">

  <h1>{{ page.title }}{% if page.subtitle %}<small>{{page.subtitle}}</small>{% endif %}</h1>
  
  <div class="body">

    <div class="pull-left meta">
      {% if page.image %}
        <img src="{{page.image}}">
      {% endif %}
      
      {% if page.bib %}
        <div class="condensed">
        {{ page.bib | markdownify }}
        </div>
      {% endif %}
      
      {% if page.links || page.docs %}
        <div class="links">
          {% for link in page.links %}
          <p><a href="{{link.url}}">{{link.label}}</a></p>
          {% endfor %}
          {% for doc in page.docs %}
          <p><a href="{{doc.path}}">{{doc.label}}</a></p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    
    <div class="content dropcap">
      {{ content }}
    </div>
    
  {%if page.footer %}
    <div class="meta links">
      {{ page.footer | markdownify }}
    </div>
  {% endif %}
  </div>
</div>
