---
---

.cms-section-title, .cms-form-title {
  text-transform: uppercase;
  font-family: montserrat-web, sans-serif;
  font-size: .9064em;
  line-height: 1.47065em;
}
.cms-form-title {
  margin-top: 2.94131em;
  margin-bottom: 1.47065em;
}

.cms-preview {
  padding-top: 29px;
  h1 { margin-top: -16px; }
  h1.subtitle {
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.5;
    padding: 0.3em 0;
  }
  h2:first-child, h3:first-child { margin-top: 0; }
}
