---
---

[ng-click] {
  cursor: pointer;
}

.cms-form {
  display: table;
  width: 100%;
}
.widget {
  display: table-row;
}
.form-control, .preview {
  box-sizing: border-box;
  display: table-cell;
  padding-bottom: 20px;
  vertical-align: top;
  width: 50%;
}
.form-control {
  padding-right: 20px;
  margin-bottom: 20px;
}
.markdown-label, .markdown-menu {
  float: left;
  width: 50%;
}
.markdown-menu {
  text-align: right;
}
.preview {
  padding-left: 20px;
  border-left: 1px solid;
}
.preview h1 {
  margin: 0
}